[submodule "gitsubmodulea"]
	path = gitsubmodulea
	url = https://github.com/enigmaCoder/gitsubmodulea.git
[submodule "mymodulea"]
	path = mymodulea
	url = https://github.com/enigmaCoder/mymodulea.git
[submodule "myModuleC"]
	path = myModuleC
	url = https://github.com/enigmaCoder/myModuleC.git
